/*TYPOGRAPHY*/

h1 {
  font-size: 8.5em;
  letter-spacing: 10px;
  margin-top: 20px;
  font-family: 'Rubik', sans-serif ;
  letter-spacing: 5px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 110px;
}

h2 {
  font-family: "Roboto Mono";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 5px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin: 20px 80px 30px 80px;
  line-height: 35px;
}

h4 {
  font-size: 3em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10px;
  color: black;
  letter-spacing: 2px;
}

h5 {
  font-size: 1.25em;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  color: black;
  letter-spacing: 1px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
}

.web-technologies {
  font-size: 45px;
}

#skills-heading {
  margin-bottom: 30px;
}

.skills-text {
  letter-spacing: 1px;
}





div.container{
  padding: 0 15px;
}

header {
  /*background-image: url('../img/space.jpeg');*/
  background-image: none;
  background-color: black;
  font-family: 'Rubik';
}

.navbar{
  background-color: white;
}

.fa{
  font-size:35px;
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}

.navbar-nav>li.active>a {
  background-color: black;
  color: white;
}

.navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: white;
}

.navbar-nav>li>a:focus {
    text-decoration: none;
    color: white;
    background-color: black;
}

u {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
}

/*@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
        margin-top: 20px;
    }
}*/

  header .header-content .header-content-inner h1 {
    font-size: 8.5em;
  }

#homeHeading {
  /*margin: 40px 0px;*/
    /*background-color: white;*/
    color: white;
    padding: 40px;
    /*transform: rotate(1deg);*/
}

.active {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

#about {
  /*background-color: gra*/
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 70px solid white;
  display: block;
  margin: 40px auto;
}



.navbar-brand {
 padding-top: 8px;
}

.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 15px;
  margin-top: 10px;
  color: white;
}

.navbar-default .nav>li>a:focus {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }
    .navbar-right {
      display: none;
    }
}

.btn {
    background-color: white;
    color: black;
}

.my-image{
  height: 300px;
  width: 300px;
  background-image: url("../img/me.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bg-primary {
  background-color: white;
  color: black;
}

.bg-dark {
  background: gray;
}

#services, #services > div > div > div > h4 {
  background-color: black;
  color: white;
}

#services > div > div > div > div > img {
  width: 100px;
  /*filter:grayscale(100%);*/
}

#services > div > div > div > div > img:hover {
  /*filter:invert(100%);*/
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a > i {
  font-size: 35px;
  margin-top: 5px;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
padding:5px 10px 5px 5px;
}

.container-fluid {
    padding-right: 25px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

  header .header-content .header-content-inner {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
  }

    #contact, #contact > div > div > div:nth-child(3) > p > a {
    background-color: black;
    color: white; 
  }

hr {
  border: 1px solid white;
}