/*TYPOGRAPHY AND ICONS*/

h1 {
  font-size: 8.5em;
  letter-spacing: 10px;
  margin-top: 20px;
  font-family: 'Rubik', sans-serif ;
  letter-spacing: 5px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 110px;
}

h2 {
  font-family: "Roboto Mono";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin: 20px 80px 30px 80px;
  line-height: 35px;
}

h4 {
  font-size: 3em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10px;
  color: black;
  letter-spacing: 2px;
}

h5 {
  font-size: 1.25em;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  color: black;
  letter-spacing: 1px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
}

.web-technologies {
  font-size: 45px;
}

#skills-heading {
  margin-bottom: 30px;
}

.skills-text {
  letter-spacing: 1px;
}

.fa{
  font-size:35px;
}

/*NAVIGATION*/

.navbar{
  background-color: white;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a:focus{
  background-color: white;
  color: black;
}

.navbar-brand {
 padding-top: 8px;
}

.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 15px;
  margin-top: 10px;
  color: white;
}

.navbar-default .nav>li>a:focus {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Rubik", sans-serif;
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}

.navbar-nav>li.active>a {
  background-color: black;
  color: white;
}

.navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: white;
}

.navbar-nav>li>a:focus {
    text-decoration: none;
    color: white;
    background-color: black;
}

.page-scroll {
  margin-top: 10px;
}


/*HEADER*/

  header {
    background-image: url('../img/polygon-background.jpg');
    background-color: black;
    font-family: 'Rubik';
  }

  header .header-content {
    top: 53%;
  }

  header .header-content .header-content-inner h1 {
    font-size: 8.5em;
  }

  #homeHeading {
      color: white;
      padding: 40px;
  }

  header .header-content .header-content-inner {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
  }

.headphones {
  position: absolute;
  bottom: -385px;
  left: 4px;
  z-index: -1;
  width: 750px;
  transform: rotate(50deg);
  transform: scaleX(-1);
}

/*ABOUT SECTION*/

.project {
  /*padding-top: 20px;*/
  padding-bottom: 40px;
}

.my-image{
  height: 300px;
  width: 300px;
  background-image: url("../img/me.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*SKILLS SECTION*/

#codewars-badge {
  margin-top: 30px;
}

/*PORTFOLIO SECTION*/
#projects-heading {
  color: black;
  text-align: center;
  margin: -30px 0px 80px 0px;
}

#svg {
  background-color: red;
  position: fixed;
  top: 0;
}

#hug-details {
  margin-top: 50px;
}

.view-details {
  border-radius: 5px;
  border-style: none;
  background-color: black;
  align-content: center;
  color: white;
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 1em;
  padding: 0px 15px 0px 15px;
  letter-spacing: 1px;
  margin-top: 10px;
  /*margin: 20px 80px 30px 80px;*/
  line-height: 35px;
}

.details-hero-image {
  background-color: red;
  height: 350px;
}

#back {
  transform: rotate(-90deg);
}


/*DETAILS PAGES*/
.header-block {
  margin-top: 100px;
  color: black;
}

.side-text {
  margin-top: 70px;
}

.first-project {
  margin-top: 10px;
}


button:focus {outline:0;}
button:hover {background-color: grey;}
button:active{background-color: black;}
button:visited{background-color: black;}

div.container{
  padding: 0 15px;
}

u {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
}

.active {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

#about {
  /*background-color: gra*/
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 70px solid white;
  display: block;
  margin: 40px auto;
}


@media (max-width: 1440px) {
.headphones {
  display: none;  
  position: absolute;
  bottom: -385px;
  left: 4px;
  z-index: -1;
  width: 750px;
  transform: rotate(50deg);
  transform: scaleX(-1);
}
}



@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }
    .navbar-right {
      display: none;
    }
}

.btn {
    background-color: white;
    color: black;
}

.bg-primary {
  background-color: white;
  color: black;
}

.bg-dark {
  background: gray;
}

#services, #services > div > div > div > h4 {
  background-color: black;
  color: white;
}

#services > div > div > div > div > img {
  width: 100px;
  /*filter:grayscale(100%);*/
}

#services > div > div > div > div > img:hover {
  /*filter:invert(100%);*/
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a > i {
  font-size: 35px;
  margin-top: 5px;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
padding:5px 10px 5px 5px;
}

.container-fluid {
    padding-right: 25px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

    #contact, #contact > div > div > div:nth-child(3) > p > a {
    background-color: black;
    color: white; 
  }

hr {
  border: 1px solid white;
}

/*RESPONSIVE BREAKPOINTS*/

@media (max-width: 768px) {
  html, body {
  width: auto !important;
  overflow-x: hidden !important;
  }
  .header-content-inner > h2 {
    font-size: 21px;
    letter-spacing: 3px;
  }
  .header-content-inner > h3 {
    margin: 0px 10px 30px 10px;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 25px;
  }

  #homeHeading > h1, h1 {
    font-size: 64px;
    text-align: center;
    line-height: 58px;
    font-family: 'Oswald', sans-serif ;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
  }
  
}