header {
    background-image: url('../img/polygon-background.jpg');
    background-color: black;
    font-family: 'Rubik';
  }

  header .header-content {
    top: 53%;
  }

  header .header-content .header-content-inner h1 {
    font-size: 8.5em;
  }

  #homeHeading {
      color: white;
      padding: 40px;
  }

  header .header-content .header-content-inner {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
  }

.headphones {
  position: absolute;
  bottom: -385px;
  left: 4px;
  z-index: -1;
  width: 750px;
  transform: rotate(50deg);
  transform: scaleX(-1);
}